
h3 {
    text-decoration: underline;
    text-align: center;
    background-color: navy;
    color: white;
    font-family: Broadway, serif;
}
tbody{
    background-color: cornflowerblue;
}
tr{
    border: 2px solid white;
}